.home{
    background-image:url(../assests/backgroundimage.jpeg) ;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.header{
    
    background-size: cover; 
    background-position: center; 
    height: 350px;
    width: auto;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    
}
